In [13]:
### Q1. Pandas version
import pandas as pd
print(f"A1: The panda version is {pd.__version__}")

A1: The panda version is 2.2.3

In [6]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv")

In [8]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [12]:
### Q2. Records count
#How many records are in the dataset?

print(f"A2: There are {df.shape[0]} records in the dataset")

A2: There are 2160 records in the dataset

In [21]:
### Q3. Laptop brands
#How many laptop brands are presented in the dataset?

print(f"A3: There are {df.Brand.nunique()} brands in the dataset")

A3: There are 27 brands in the dataset

In [37]:
### Q4. Missing values
#How many columns in the dataset have missing values?
print(f"A4 There are {sum(df.isna().sum()>0)} columns with missing values")

A4 There are 3 columns with missing values

In [118]:
### Q5. Maximum final price
#What's the maximum final price of Dell notebooks in the dataset?

print(f"""A5 The maximum final price of Dell notebooks in the data is {max(df.query("Brand=='Dell'")["Final Price"])}""")

A5 The maximum final price of Dell notebooks in the data is 3936.0

In [117]:
### Q6. Median value of Screen
print(f"Median  of Screen:  {df.Screen.median()}")
print(f"Mode of Screen:  {df.Screen.mode().iloc[0]}")

Screen_filled = df.Screen.fillna(df.Screen.mode().iloc[0])

print(f"Median  of Screen filled:  {Screen_filled.median()}")

print("A6")
print("No it hasn't changed") if df.Screen.median() == Screen_filled.median() else print("Yes it has changed")

Median  of Screen:  15.6
Mode of Screen:  15.6
Median  of Screen filled:  15.6
A6
No it hasn't changed

In [107]:
import numpy as np
from numpy.linalg import inv
X =df.query("Brand == 'Innjoo'")[["RAM","Storage","Screen"]].values

In [109]:
XTXinv = inv(np.dot(X.T,X))
y =np.array([1100, 1300, 800, 900, 1000, 1100])

In [112]:
XTXinvXT = np.dot(XTXinv,X.T)

In [113]:
w = np.dot(XTXinvXT,y)

In [122]:
print(f"A7 The sum of the resulting vector is {round(sum(w),3)}")

A7 The sum of the resulting vector is 91.3